.body .header .fa-chevron-left,
.body .header .fa-xmark,
.body .header .fa-times {
  color: var(--c1) !important;
  font-size: 1.5em;
  line-height: 0.04167em;
  vertical-align: -0.125em;
}
.body .header.v2 {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center top;
  box-shadow: 0px 10px 20px rgba(239, 96, 121, 0.1);
}
.body .header.v2 i,
.body .header.v2 svg,
.body .header.v2 span {
  color: white !important;
}
.body .main.v2 {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center top;
}
.body .footer {
  width: 100%;
  padding: 0 !important;
}
.body .footer a.visit {
  width: 100%;
  height: 70px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c1);
  box-sizing: border-box;
}
.body .footer a.visit span {
  font-size: var(--fL);
  color: var(--c2);
}
.body .footer a.visit span span {
  font-size: var(--fXL);
  font-weight: bold;
  color: white;
}
.body .footer a.visit i,
.body .footer a.visit svg {
  color: white;
}
.body .function.v2 span,
.body .functions.v2 span {
  color: white;
}
.body section.popDropdown {
  backdrop-filter: unset;
  align-items: flex-end;
}
.body section.popDropdown .popBody {
  width: 100%;
  margin: 10px;
  animation-name: popup;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.body section.popDropdown .popMain {
  padding: 0 !important;
  margin: 0 !important;
}
.body section.popDropdown .popMain a {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.body section.popDropdown .popMain a:not(:last-child) {
  border-bottom: 1px solid var(--cG5);
}
.body section.popDropdown .popMain a.active span {
  color: var(--c1);
}
@keyframes popup {
  0% {
    margin-bottom: -100vh;
  }
  100% {
    margin-bottom: 10px;
  }
}
@keyframes popdown {
  0% {
    margin-bottom: 10px;
  }
  100% {
    margin-bottom: -100vh;
  }
}
.body .listEmpty {
  min-height: calc(100vh - 150px);
}
.body .listEmpty .icon {
  margin-bottom: 50px;
}
.body .landscape {
  border-radius: 0;
  display: none;
  position: absolute;
  background: linear-gradient(135deg, rgba(239, 96, 121, 0.5) 0%, #EF6079 100%), #FFFFFF;
  z-index: 9;
}
@media (max-height: 767px) and (min-width: 568px) and (max-width: 1080px) and (orientation: landscape) {
  .body .landscape {
    display: flex;
  }
}
.body .landscape .icon {
  margin: 0 20px 0 0;
}
.body .stampsItem {
  width: calc(100% - 10px);
  max-width: 500px;
  aspect-ratio: 335/150;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 10px 0;
  position: relative;
  background-image: url(img/bg-stamp.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.body .stampsItem > *:first-child {
  margin-top: 10px;
}
.body .stampsItem > *:last-child {
  margin-bottom: 10px;
}
.body .stampsItem .topLeft {
  width: 100px;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
.body .stampsItem .topLeft .textBg {
  width: 150px;
  top: 10px;
  left: -40px;
  position: absolute;
  display: none;
  background-color: var(--cG4);
  transform: rotate(-30deg);
}
.body .stampsItem .topLeft .textBg.active {
  display: flex;
}
.body .stampsItem .topRight {
  width: 100px;
  height: 60px;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
.body .stampsItem .topRight .textBg {
  width: 150px;
  top: 10px;
  right: -40px;
  position: absolute;
  display: none;
  background-color: var(--c2);
  transform: rotate(30deg);
}
.body .stampsItem .topRight .textBg.active {
  display: flex;
}
.body .stampsItem img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 4px;
}
.body .stampsItem .bar {
  height: 10px;
  margin: 0 10px;
  background-color: var(--cG5);
}
.body .stampsItem .bar div {
  width: 60%;
  height: 100%;
  border-radius: 99px;
  background-color: var(--c1);
}
.body .stamps.main {
  padding: 60px 10px 70px !important;
}
.body .stamps.main .filter .lineV {
  height: 20px;
  background-color: var(--c2);
}
.body .stamps.main .filter .dropdown {
  width: fit-content;
}
.body .stamps.main .filter .dropdown select {
  width: fit-content;
  padding: 0 30px 0 10px;
  background-color: transparent;
}
.body .stamps.main .list {
  align-items: center;
  overflow-y: auto;
}
.body .stamps.main .list div.none {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body .stamps.main .list div.none i,
.body .stamps.main .list div.none svg {
  margin-bottom: 10px;
  color: var(--cG1);
}
.body .stamps.main .list div.none span {
  font-size: var(--fL);
}
.body .stamp.main {
  /* height: 100vh; height: var(--app-height); */
  margin: 60px 15px 70px;
  padding: 10px 20px !important;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
@media (min-width: 1024px), (max-width: 1023px) and (min-width: 768px) {
  .body .stamp.main {
    width: 748px !important;
    margin: 60px auto 70px;
  }
}
.body .stamp.main .topLeft {
  width: 150px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
.body .stamp.main .topLeft .textBg {
  width: 200px;
  padding: 2.5px 0;
  top: 10px;
  left: -60px;
  position: absolute;
  display: none;
  background-color: var(--cG4);
  transform: rotate(-30deg);
}
.body .stamp.main .topLeft .textBg.active {
  display: flex;
}
.body .stamp.main .topRight {
  width: 150px;
  height: 100px;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
.body .stamp.main .topRight .textBg {
  width: 200px;
  padding: 2.5px 0;
  top: 10px;
  right: -60px;
  position: absolute;
  display: none;
  background-color: var(--c2);
  transform: rotate(30deg);
}
.body .stamp.main .topRight .textBg.active {
  display: flex;
}
.body .stamp.main .sticker {
  margin: 10px 0;
}
.body .stamp.main .sticker img {
  width: calc(20% - 10px);
  margin: 5px;
  border-radius: 10px;
}
.body .stamp.main .sticker img.none {
  filter: grayscale(100%);
  opacity: 0.25;
}
.body .stamp.main .dashH {
  margin: 10px 0;
}
.body .stamp.main .gift {
  min-width: 100%;
  max-width: 400px;
  aspect-ratio: 285/120;
  margin: 10px auto;
  padding: 10px 30px 10px 20px;
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
  backdrop-filter: blur(30px);
  background-color: var(--cBg);
  /* background: linear-gradient(104.62deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%); background-image: url(../img/bg-gift.svg); background-size: contain; background-repeat: no-repeat; */
}
.body .stamp.main .gift > .flexV > *:not(:first) {
  margin: 5px 0 0 0;
}
.body .stamp.main .gift > .flexV > .fM {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body .stamp.main .gift .topLeft {
  width: 100px;
  height: 60px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
.body .stamp.main .gift .topLeft .textBg {
  width: 150px;
  top: 5px;
  left: -50px;
  position: absolute;
  display: none;
  background-color: var(--cG4);
  transform: rotate(-30deg);
}
.body .stamp.main .gift .topLeft .textBg.active {
  display: flex;
}
.body .stamp.main .gift .topLeft .textBg span {
  line-height: 10px;
}
.body .stamp.main .gift .fS {
  margin: 5px 0;
}
.body .stamp.main .gift img.photo {
  min-width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 10px;
  object-fit: cover;
}
.body .stamp.main .gift img.stamp {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
  object-fit: cover;
}
.body .stamp.main .detail {
  margin: 10px 0;
}
.body .stamp.main .detail .fL {
  margin-bottom: 5px;
}
.body .stamp.footer {
  box-shadow: none;
}
.body .stamp.footer a {
  margin: 15px;
}
.body .stamp.footer .icon.primary {
  margin-left: 0;
}
.body .stamp.footer .icon.primary i {
  color: var(--c1) !important;
}
.body .stamp.popCode .popMain {
  padding: 0 5px 5px;
  margin-bottom: 0 !important;
}
.body .stamp.popCode .popMain > * {
  min-height: fit-content;
}
.body .stamp.popCode .img.profile {
  width: 60px;
  height: 60px;
  min-width: 60px;
  margin-right: 10px;
  background-image: url(../img/profile-d.png);
  background-size: cover;
}
.body .stamp.popCode .img.profile img {
  border-radius: 10px;
}
.body .stamp.popCode .refresh {
  background-color: var(--c1);
}
.body .stamp.popCode .qrcode {
  padding: 20px 0;
  margin: 10px 0 0;
  border-radius: 20px;
  background-color: white;
}
.body .stamp.popCode .qrcode .img {
  width: 250px;
  height: fit-content;
}
.body .stamp.popCode .submit {
  background-color: var(--c1);
  margin-right: -5px;
}
.body .stamp.popHistory .popMain {
  padding: 0 10px;
}
.body .stamp.popHistory .popMain .record {
  min-height: fit-content;
}
.body .stamp.popHistory .popMain .record:not(:first-child) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--cG5);
  border-radius: 0;
}
.body .stamp.popHistory .popMain img.stamp {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  object-fit: cover;
}
.body .stamp.popGift .popBody {
  padding: 0 20px;
}
.body .stamp.popGift .popBody .popMain {
  padding: 0;
  margin: 0;
  align-items: flex-start;
  overflow-x: hidden;
}
.body .stamp.popGift .popBody .popMain .detail {
  margin: 10px 0;
}
.body .stamp.popGift .popBody .popMain img.photo {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 20px 0;
  border-radius: 10px;
}
.body .stamp.popGift .popBody .popMain img.stamp {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 5px;
  object-fit: cover;
}
.body .stamp.popGiftGet .popMain {
  padding: 10px;
  margin-top: 0;
}
.body .stamp.popGiftGet .popMain img.photo {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 20px;
  border-radius: 10px;
}
.body .moveIn {
  animation-name: moveIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.body .moveOut {
  animation-name: moveOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes moveIn {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
@keyframes moveOut {
  0% {
    top: 0;
  }
  100% {
    top: -150px;
  }
}
@keyframes popPWA {
  0% {
    margin-bottom: -100%;
  }
  100% {
    margin-bottom: 30px;
  }
}
